@media only screen and (min-width: 35rem) {
#newProfile {
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#myProfile {
    width: 85%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;   
}
    
} /* end media query*/