/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

  body {
    font-family: "Google Sans", sans-serif;
}

/* switches */
.hideMe {
    display: none;
}

.showMe {
    display: block;
}

header {
    text-align: center;
    margin: 0;
    padding: 1rem 2%;
    font-weight: 700;
    font-size: 2rem;
    color: black;
}

/* New Profile styling */
#newProfile {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    background-color: #fefefe;
    border-radius: 20px;
    box-shadow: 0 0 6px #ccc;
}

#newProfile p {
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    color: rgb(137, 174, 216);
}

#newProfile label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2rem;
    padding: .5rem 0;
    margin: .5rem 0;
    color: rgb(123, 123, 123);
}

#newProfile input, #newProfile select {
    width: 200px;
    border: 1.5px solid rgb(123, 123, 123);
}

#newProfile input[type="submit"]{
    border-radius: 20px;
    padding: .25rem 4%;
    background-color: rgb(137, 174, 216);
    color: white;
    border: 1.5px solid rgb(123, 123, 123);
}


/* Current Profile styling */
#myProfile {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    padding: 15px;
    background-color: #fefefe;
    border-radius: 20px;
    box-shadow: 0 0 6px #ccc;
}

#myProfile section {
    background-color: #fefefe;
    border: 1.5px solid rgb(123, 123, 123);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

#myProfile img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

#myProfile p {
    font-size: 1.5rem;
    padding: 1rem;;
    margin: 0;
    color: rgb(137, 174, 216);
}

#myProfile button {
    border-radius: 20px;
    padding: .25rem 4%;
    background-color: rgb(137, 174, 216);
    color: white;
    border: 1.5px solid rgb(123, 123, 123);
}