/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-family: "Google Sans", sans-serif;
    background-image: url(../images/space.jpg);
    background-color:#f0e2d7;
}

header {
    display: grid;
    grid-template-columns: auto 42px;
    background-color: #627e75;
    color: white;
    text-align: center;
    font-size: 2rem;
}

header span:nth-child(2) {
    padding: .5rem;
}

#town {
    padding: .5rem;
}


/*weather card stuff*/
#weatherCard {
    display: block;
    position: absolute;
    top: 60px;
    height: 450px;
    left: 10px;
    right: 10px;
    padding: 1rem 2vw;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.95);
    color: black;
    text-align: center;
    box-shadow: 0 0 5px lightgrey;
}

.date {
    background-color: #627e75;
    color: white;
    padding: 10px;
    font-size: 1rem;
    margin: 0 0 5px 0;
    border-radius: 20px 20px 0 0;
}

.temperature {
    font-size: 4rem;
    color: #913639;
    font-weight: 100;
    margin: 0;
    padding: 5px;
}

.img {
    box-shadow: 0 0 5px lightgrey;
    border-radius: 15px;
    width: 150px;
    height: auto;
    margin: 20px 0 0 0;
    
}



/* modal dialogue box for new zipcode */
aside {
    display: none;
}

aside.show {
    display: block;
    position: absolute;
    top: 60px;
    height: 450px;
    left: 10px;
    right: 10px;
    padding: 1rem 2vw;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.95);
    color: black;
    text-align: center;
    box-shadow: 0 0 10px black;
}

aside p {
    font-size: 1.2rem;
}

#input{
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside input {
    padding: 10px;
    margin: 15px;

}

aside button {
    background-color: #d2a985;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;

}

/* footer stuff */
footer {
    background-color: #627e75;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}