/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
    font-family: "Google Sans", sans-serif;
}

header {
    font-size: 2rem;
    text-align: center;
    background-color: rgb(141, 92, 0);
    color: white;
    padding: 1rem;
}

#cards {
    display: flex;
    flex-wrap: wrap;
}

#cards figure {
    margin: 2% 2%;
    padding: 1rem;
    flex-basis: 96%;
    border: solid #3e47ac 2px;
    border-radius: 20px;
    box-shadow: 0 0 6px #ccc;
    background-color: rgb(237, 237, 237);
}

#cards div {
    text-align: center;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: #3e47ac;
    color: white;
    padding: 8px;
}

#cards img {
    width: 100%;
    padding: 5px 5px 0 0;
}

#cards figcaption {
    text-align: center;
}
